/*********************** Default Tags ***********************/
body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Montserrat', sans-serif;
}

/*********************** Headings ***********************/

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
  
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/*********************** Containers ***********************/

.container-fluid{
    padding: 7% 15%;
}

/*********************** Sections ***********************/

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: white;
}

 /************************ Nav Bar ************************/

.navbar-brand{
    color: #fff !important;
}

.navbar-expand-lg{
    padding: 0 0 4.5rem;
}

 .navbar-brand{
     font-family: ubuntu;
     font-size: 2.5rem;
     font-weight: bold;
     float: left;
 }

 .nav-item{
    padding: 0 18px;
 }

 .nav-link{
     font-size: 1.2rem;
     font-family:  "Montserrat-light", sans-serif;
 }

 /*********************** Download Button ***********************/

 .download-button{
     margin: 5% 3% 5% 0%;
 }

/*********************** Title Section ***********************/

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

 /*********************** Title Image ***********************/

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*********************** Features ***********************/
#features{
    position: relative;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-column{
    padding: 5%;
}

.features-icons{
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icons:hover{
    color: #ff4c68
}

/*********************** Testimonials ***********************/

#testimonials{ 
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*********************** Pricing ***********************/

#pricing{
    margin: 7%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

@media(max-width: 992px){

    .iphone-image{
        transform: rotate(0);
        position: static;
    }

    #title{
        text-align: center;
    }
}

/*********************** Call to Action ***********************/

.cta-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: black;
    line-height: 1.5;
    font-size: 3.5rem;
}

/*********************** Footer ***********************/

.footer-download-btn{
    margin: 0% 2%;
}

#footer{
    background-color: white;
    color: #8f8f8f;
    font-size: .5rem;
}

.footer-social{
    margin: 1%;
    color: #3f3f3f;
}